@{
    ViewBag.Title = "О проекте.";
}
<br>
<h2>О проекте</h2>
<div class="jumbotron">
    <div class="container">
        Проект разработан в рамках конкурса <b>"Цифровой прорыв"</b>, организованного автономной некоммерческой организацией <b>"Россия - страна возможностей"</b>.<br><br>
        Разработчик проекта - команда <b>"Гермес"(г.Томск)</b><br><br>
        Состав команды:<br><br>
                           <ul>
                               <li>Николай Антонов
                               <li>Максим Хоптяр
                               <li>Михаил Фомченков
                           </ul>


    </div>
</div>



<br>
<br>

