
@{
    ViewBag.Title = "Anketa0";
}
    <br><br>
            <div class="panel panel-primary">
            <div class="panel-heading">
                
                Инструкция по прохождению теста
            </div>
            <div class="panel-body">
                Вам предлагается ответить на ряд вопросов, цель которых – выяснить особенности Вашего характера, склонностей и интересов.
                Предлагаемый тест состоит из семи блоков, в каждом из которых будет представлена одна ситуация и восемь возможных вариантов действия.

                Десять баллов распределите в каждом блоке утверждений, которые, по вашему мнению, лучше всего описывают ваше поведение. 
                Баллы необходимо распределить по нескольким утверждениям.
                В исключительных случаях баллы можно распределить между всеми утверждениями или все десять баллов поставить напротив одного утверждения.
                <br><br>
                Отвечая, помните: Не существует «верных» и «неверных» ответов, так как каждый прав по отношению к своим собственным взглядам.
                Не тратьте времени на раздумья, давайте первый естественный ответ, который приходит Вам в голову;
                не пропускайте ничего, обязательно отвечайте на все вопросы подряд.

                @using (Html.BeginForm("Anketa", "Home"))
                {
                    @Html.Hidden("t");
                    <br>
                    <input type="checkbox" id="Permission" name="Permission" value="1" onclick="if ($('#Continued')[0].disabled == true) {$('#Continued')[0].disabled = false}else{$('#Continued')[0].disabled = true}">
                    <span><b>Я  ознакомился с инструкцией и готов начать тестирование.</b></span>
                    <br>
                    <br><input class="btn btn-primary btn-lg btn-block" type="submit" id="Continued" name="Continued" value="Приступить к тестированию" disabled>
                }
            </div>
                </div>



